body{
    background-color: rgb(161, 202, 241);
}

h1 {
    font: Arial;
    font-weight: 1000;
    background-color: beige;
    color:rgb(185, 7, 7);
}
h2{
    font: Arial;
    font-weight: 1000;
    background-color: beige;
    color:rgb(185, 7, 7);
}
p{
    font-weight: 1000;
    background-color: beige;
}
ul{
    background-color: beige;
    font-weight: 800;
}